@media (min-width: 320px) and (max-width: 480px) {
    body {
        .contact {
            margin: 40px 0 20px 20px;
        }
        
        .contact h3 {
            margin: 20px 0;
            letter-spacing: 2px;
            font-size: 21px;
        }
        
        .contact--form input, textarea{
            max-width: 95%;
        }
                
        .contact--grid {
            display: block;
        }

        .contact--vertical--line {
            display: none;
        }

        .contact--mail p {
            font-size: 18px;
            margin: 15px 5px 0 0;
        }

        .contact--mail a p {
            margin-top: 5px !important;
        }
    }
}

@media (max-width: 1050px) {
    body {
        .contact--grid {
            display: block;
        }

        .contact--vertical--line {
            display: none;
        }

        .contact--mail p {
            margin: 30px 0 10px 0;
        }

        .contact--mail a p {
            margin-top: 0;
        }
    }
}

.contact {
    margin-left: 100px;
    margin-bottom: 100px;
}

.contact h3 {
    margin: 30px 0;
    letter-spacing: 3px;
    font-family: 'quicksand';
    font-size: 25px;
}

.contact--form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contact--form input, textarea{
    font-size: 18px;
    font-family: 'quicksand', sans-serif;
    background-color: inherit;
    border: 2px solid white;
    border-radius: 5px;
    width: 500px;
    padding: 10px;
    color: white;
}

.contact--form input:focus, textarea:focus {
    outline: none;
}

.contact--form button {
    padding: 10px 20px;
    margin-top: 20px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: inherit;
    font-family: 'quicksand', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.contact--form button:hover {
    background-color: rgb(51, 50, 49);
    border-color: rgb(254, 110, 110);
    color: rgb(254, 110, 110);
    cursor: pointer;
}

.contact--grid {
    display: grid;
    grid-template-columns: auto 0 auto;
    gap: 40px;
}

.contact--vertical--line {
    border: 2px solid rgb(254, 110, 110);
    height: 100%;
}

.contact--mail p {
    font-family: 'quicksand';
    font-size: 22px;
    letter-spacing: 0.5px;
    line-height: 2;
    margin-bottom: 15px;
}

.contact--mail a {
    display: flex;
    text-decoration: none;
    color: rgb(254, 110, 110);
}

.contact--mail a p{
    margin-left: 10px;
}