@media (min-width: 320px) and (max-width: 480px) {
    nav {
        font-size: 0.65em;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid;
    position: sticky;
    top: 0;
    background-color: rgb(12, 12, 12);
}

.nav--div {
    display: flex;
    margin-right: 20px;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    padding: 0 10px;
    
}

.links {
    text-decoration: none;
    color: inherit;
}