@media (min-width: 320px) and (max-width: 480px) {
    body {
        .home {
            margin: 20px;
        }
    }
}

.home {
    margin: 40px 100px;
    line-height: 2;
    font-size: 23px;
}

.home span {
    color: rgb(254, 110, 110);
}

.home--button {
    font-family: 'quicksand', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
    padding: 10px 20px;
    background: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    animation: glowing 10s linear infinite;
}

@keyframes glowing {
    0%   {border:2px solid red; }
    10%  {border:2px solid rgb(215, 215, 59);}
    15%  {border:2px solid blue;}
    30%  {border:2px solid red; }
    40%  {border:2px solid rgb(215, 215, 59);}
    45%  {border:2px solid blue;}
    50%  {border:2px solid red; }
    60%  {border:2px solid rgb(215, 215, 59);}
    65%  {border:2px solid blue;}
    70%  {border:2px solid red; }
    80%  {border:2px solid rgb(215, 215, 59);}
    85%  {border:2px solid blue;}
    90%  {border:2px solid red;}
    100% {border:2px solid rgb(215, 215, 59);}
}

.home--button:hover {
    background-color: rgb(51, 50, 49);
    color: rgb(254, 110, 110);
}