@media (min-width: 320px) and (max-width: 480px) {
    body {        
        .project {
            margin: 20px 20px 80px;
        }

        .project--card {
            margin: 35px 0;
        }
    }
}

.project {
    margin: 0 30px 0 100px;
}

.project--card {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    gap: 2.5em;
}

.project--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    /* background-color: rgb(128, 127, 127); */
    box-shadow: 0 0 6px 3px rgb(254, 110, 110);
    font-family: 'quicksand', sans-serif;
}

.project--item:hover {
    box-shadow: 0 0 12px 5px rgb(254, 110, 110);
}

.project--image--container {
    width: 300px;
    height: 250px;
    overflow: hidden;
}

.project--img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    opacity: 1;
}

.project--info {
    padding: 10px;
    font-size: 18px;
}

.project--info h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project--item:hover h2 {
    color: rgb(254, 110, 110);
}

.project--info p {
    margin: 20px 0;
    line-height: 1.7;
}

.project--info--button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.project--info--button button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: inherit;
    color: white;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    font-family: 'quicksand', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.project--info--button button:hover {
    background-color: rgb(51, 50, 49);
    border-color: rgb(254, 110, 110);
    color: rgb(254, 110, 110);
    cursor: pointer;
}

.project--button--margin {
    margin-right: 8px;
}