@media (min-width: 320px) and (max-width: 480px) {
    body {        
        .project {
            margin: 20px;
        }

        .project--card {
            margin: 35px 0;
        }
    }
}

.project {
    margin: 0 100px;
}

.project--card {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
}

.project--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    /* background-color: rgb(128, 127, 127); */
    position: relative;
}

.project--img {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    position: relative;
    opacity: 1;
}

.project--info {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 30px;
    position: absolute;
    display: none;
    background-color: rgba(91, 91, 91, 0.705);
    font-family: 'rem', sans-serif;
}

.project--item:hover .project--info {
    display: block;
    bottom: 0;
}

.project--item:hover .project--img {
    opacity: 0.5;
}

.project--item:hover {
    border: 2px solid rgb(74, 74, 74);
}