@media (min-width: 320px) and (max-width: 480px) {
    body {
        .skills {
            margin: 20px 20px 50px;
        }

        /* .skills--section {
            font-size: 10px;
        }

        .skills--section button {
            font-size: 9px;
            padding: 6px;
            border-radius: 15px;
            margin-left: 10px
        }

        .skills--learningPath {
            font-size: 18px;
        }

        .skills--learningPath ul {
            margin: 10px;
            padding: 8px;
        } */
    }
}

.skills {
    margin: 100px;
}

/* .skills--section {
    margin-top: 40px;
    font-family: 'quicksand', sans-serif;
    font-size: 20px;
    display: flex;
    line-height: 2;
} */

.skill--card {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
    gap: 1.5rem;
}

.skill--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(254, 110, 110);
}

.skill--item:hover {
    box-shadow: 0 0 3px 1px rgb(254, 110, 110);
    background-color: rgb(51, 50, 49);
    /* color: rgb(254, 110, 110); */
    transform: scale(1.05);
}

.skill--item p {
    margin-top: 10px;
}

/* .skills--section button {
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid rgb(254, 110, 110);
    box-shadow: 0 4px 5px 3px rgb(254, 110, 110); 
    animation: glow 10s linear infinite;
    background-color: inherit;
    font-family: 'quicksand', sans-serif;
    font-size: 18px;
    color: white;
} */

/* @keyframes glow {
    0%   {border:2px solid rgb(233, 50, 80); }
    10%  {border:2px solid white;}
    15%  {border:2px solid blue;}
    30%  {border:2px solid rgb(233, 50, 80); }
    40%  {border:2px solid white;}
    45%  {border:2px solid blue;}
    50%  {border:2px solid rgb(233, 50, 80); }
    60%  {border:2px solid white;}
    65%  {border:2px solid blue;}
    70%  {border:2px solid rgb(233, 50, 80); }
    80%  {border:2px solid white;}
    85%  {border:2px solid blue;}
    90%  {border:2px solid rgb(233, 50, 80);}
    100% {border:2px solid white;}
} */

/* .skills--section button:hover {
    background-color: rgb(51, 50, 49);
    box-shadow: 0 0 6px 1px rgb(254, 110, 110);
} */

/* .skills--learningPath {
    margin-top: 30px;
    font-family: 'quicksand', sans-serif;
    font-size: 22px;
}

.skills--learningPath ul {
    margin-top: 20px;
    list-style: square;
}

.skills--learningPath li {
    margin: 15px 0;
    line-height: 2;
} */