* {
    box-sizing: border-box;
    margin: 0;
}

@media (min-width: 320px) and (max-width: 480px) {
    body {   
        font-size: 0.9em;
    }
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(36, 36, 36);
    /* color: rgb(246, 66, 96); */
    color: white;
}

.toaster {
    font-family: 'Quicksand', sans-serif;
}